.form{
    width: 100%;
    height: 400px;
    /* background-color: blueviolet; */
    padding: 5px;
    /* padding: 20px; */
    /* margin: 10px; */
}
.formDetails{
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
    height: 100%;
}

.connectBtn{
    width: 100%;
    display: flex;
    margin-left: 40px;
    
}
.call{
    margin-right: 20px;
}
.chat,.call{
    width:150px;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 2px;
}

.emailBtn{
    width: 100%;
}
.email{
    width: 90%;
    height: 2rem;
    margin: 10px 15px;
    background-color: black;
    color: white;
}

#name,#email,#comment{
    margin: 10px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
}

#comment{
    height: 100px;
}

.submitDiv{
    width: 100%;
    margin: auto;
    
    
    
}

.submitBtn{
    position: relative;
    left: 310px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}
